<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Personagem</title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>
    <div class="bloco_info"><b>Quem é o maluco:</b>{{nome}}</div>
    <div class="bloco_info"><b>Idade:</b>{{idade}}</div>
    {% if sextou %}
     <div class="bloco_info">
         <img src = "{{imagem}}" width="200" alt="imagem" />
         <figcaption>&#127867; Sextooooooou! &#127867; </figcaption>
    {%else%}
    <div class="bloco_info">
        <img src = "{{img}}" width="200" alt="imagem" />
        <figcaption>&#128546; Nao sextou! &#128546;</figcaption>
     </div>
    {% endif %}
</body>
</html>