<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Personagem</title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>
    <div class="bloco_info"><b>Nome do Personagem:</b>{{nome}}</div>
    <div class="bloco_info"><b>HP:</b>{{hp}}</div>
    {% if exibir_imagem %}
     <div class="bloco_info">
         <img src = "{{imagem}}" width="200" alt="imagem" />
     </div>
    {% endif %}
</body>
</html>